body{
    background-color: rgb(226, 239, 185);
    margin: 0;
    padding: 0;
}
img{
    height: 200px;
    border: 2px;
    border-radius: 20%;
    float: left;
    margin-right: 20px;
    
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 100px;
    font-style: italic;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px rgb(0, 255, 174);
    color: rgb(185, 16, 242);
}
